@font-face {
  font-family: 'rampart';
  src:  url('../fonts/rampart.eot@m8xsuu');
  src:  url('../fonts/rampart.eot@m8xsuu') format('embedded-opentype'),
    url('../fonts/rampart.ttf@m8xsuu') format('truetype'),
    url('../fonts/rampart.woff@m8xsuu') format('woff'),
    url('../fonts/rampart.svg@m8xsuu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rampart-icon-"], [class*=" rampart-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rampart' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rampart-icon-roof11:before {
  content: "\e900";
}
.rampart-icon-roof2:before {
  content: "\e901";
}
.rampart-icon-roof3:before {
  content: "\e902";
}
.rampart-icon-roof4:before {
  content: "\e903";
}
.rampart-icon-roof5:before {
  content: "\e904";
}
.rampart-icon-roof6:before {
  content: "\e905";
}
.rampart-icon-roof7:before {
  content: "\e906";
}
.rampart-icon-roof8:before {
  content: "\e907";
}
.rampart-icon-roof9:before {
  content: "\e908";
}
.rampart-icon-roof12:before {
  content: "\e909";
}
.rampart-icon-roof17:before {
  content: "\e90a";
}
.rampart-icon-roof18:before {
  content: "\e90b";
}
.rampart-icon-roof16:before {
  content: "\e90c";
}
.rampart-icon-roof15:before {
  content: "\e90d";
}
.rampart-icon-roof14:before {
  content: "\e90e";
}
.rampart-icon-roof13:before {
  content: "\e90f";
}
.rampart-icon-roof10:before {
  content: "\e910";
}
.rampart-icon-roof1:before {
  content: "\e911";
}
.rampart-icon-roof:before {
  content: "\e912";
}
.rampart-icon-cloud_download:before {
  content: "\e913";
}
.rampart-icon-envelop:before {
  content: "\e914";
}
.rampart-icon-home:before {
  content: "\e915";
}
.rampart-icon-lock-folder:before {
  content: "\e916";
}
.rampart-icon-phone:before {
  content: "\e917";
}
.rampart-icon-service-1:before {
  content: "\e918";
}
.rampart-icon-service-2:before {
  content: "\e919";
}
.rampart-icon-service-3:before {
  content: "\e91a";
}
.rampart-icon-service-4:before {
  content: "\e91b";
}
.rampart-icon-service-5:before {
  content: "\e91c";
}
.rampart-icon-service-6:before {
  content: "\e91d";
}
.rampart-icon-service-7:before {
  content: "\e91e";
}
.rampart-icon-service-8:before {
  content: "\e91f";
}
.rampart-icon-service-9:before {
  content: "\e920";
}
.rampart-icon-service-10:before {
  content: "\e921";
}
.rampart-icon-service-11:before {
  content: "\e922";
}
.rampart-icon-Vector:before {
  content: "\e923";
}
